.activity-page {
    background-color: $bg-secondary;
    min-height: calc(100vh - 125px);
    padding: 40px 0px;
    display: flex;
    justify-content: center;
}

.activity-header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    &__title {
        margin-bottom: 0;
    }
}