.login-page {
    background-color: $bg-secondary;
    height: calc(100vh - 125px);
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    &-container { 

        @media(min-width: 769px) {
            max-width: 50%;
        }
    }

}

.login {
    display: flex;
    flex-direction: column;

    &__title {
        font-size: 32px;

        color: $text-primary;
    }
    
}