.login-page {
    background-color: $bg-secondary;
    height: calc(100vh - 125px);
    padding: 40px;
    display: flex;
    justify-content: center;
    .container { 
        max-width: 700px;
    }

}

.login {
    display: flex;
    flex-direction: column;

    &__title {
        font-size: 32px;

        color: $text-primary;
    }
    
}