.btn {
    background-color: $bg-primary-lighter;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 30px;
    margin-top: 20px;
    transition: ease 0.4s;
    text-decoration: none;
    display: inline-block;


    &:hover {
        color: #ffffff;
        background-color: $bg-primary;
        text-decoration: none;

    }

    &--full {
        width: 100%;
    }

    &--mt0 {
        margin-top: 0;
    }
}
