.password-card {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 20px;
    background-color: $bg-grey;
    border-radius: 5px;
    margin-top: 20px;


    &-section {
        display: flex;
        justify-content: center;
        align-items: center;

        &-first {
            img {
                width: 50px; 
                height: 100%;

            }

            &__content {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                flex-direction: column;
                margin-left: 15px;
            }


        }
    }

}